<h3 align="center">КРЦ “Мир”</h3>
<h3 align="center">Доставка пиццы.</h3>
<p><strong>Пицца</strong>, без преувеличения - самое популярное блюдо в мире! И это не с проста.</p>
<ul>
<li>Во-первых, ее можно есть руками, дома или на улице, не важно.</li>
<li>Во-вторых, на одном кусочке <strong>пиццы</strong> Вы найдете и <strong>мясо</strong>, и <strong>овощи</strong>, что, конечно же, очень питательно.</li>
<li>Ну и в-третьих, это большое разнообразие начинок - <strong>грибы</strong>, <strong>овощи</strong>, <strong>мясо</strong>, <strong>морепродукты</strong>, всего не перечесть. Да  и зачем вообще говорить о <strong>пицце</strong>, ведь <strong>пицца</strong> и так самое популярное блюдо в “Мире”.</li>
</ul>
<p>Скачать меню КРЦ "МИР" - <a href="/доставка пиццы.pdf">доставка пиццы</a></p>
<p>Время заказа: каждый день 12:00 - 22:00</p>
<h3 align="center">Шашлык доставка.</h3>
<p><strong>Шашлык</strong> - 100 гр. - 120 рублей.</p>
<p>Дополнительный гарнир (лук, кетчуп, нарезка - огурцы, помидоры, хлеб 2 кус) - 40 рублей.</p>
<p>Время заказа: будни 18:00 - 00:00, выходные 12:00 - 00:00.</p><br/><hr/>
<p><strong>Доставка</strong>  - 30 рублей. Оформить заказ можно по телефонам 68-36-15, +7 927 225 36 15</p>