<h3 align="center">Мясная лавка “Ферма Шашлыково”</h3>
<strong><i>Маринованное мясо для шашлыка.</i></strong><br/>
<p>Попробуй вкус настоящего деревенского <strong>мяса</strong>.</p>
<p>Почему деревенское <strong>мясо</strong> лучше? Потому что в личных подсобных хозяйствах животные растут на натуральных кормах, без использования гормонов и технологий быстрого роста. Покупая мясо в “Ферме Шашлыково”, Вы приобретаете экологически чистые продукты питания самого высокого качества.</p>
<p><strong>Мясо</strong> жареное на раскаленных углях - о чем еще можно думать в теплый весенний день?</p>
<h2>Виды <strong>мяса</strong>:</h2>
<ul>
    <li><strong>свинина</strong> - задок (постней), шея (сочнее, с прослойками)</li>
</ul>
<p>В ассортименте 5  видов маринада:</p>
<ul>
    <li>на винном уксусе</li>
    <li>на яблочном уксусе</li>
    <li>на пиве</li>
    <li>на майонезе</li>
    <li>на лимоне</li>
</ul>
<h3 align="center">Заказ и доставка.</h3>
<p>Мясо для шашлыка будет приготовлено и доставлено в течение 1-2 часов с момента заказа.</p>
<p>Цена - 270 рублей за кг.</p>
<p>Доставка  - 30 рублей. Оформить заказ можно по телефонам 68-36-15, +7 927 225 36 15 с 7:00 до 19:00</p>